#stylish {
    color:pink;
    font-weight:bold;
    font-style:oblique;

  }

#blue {
  color:blue;
}

#red {
  color:red;
  font-size:20px;
  text-decoration:underline;
}

#base {
    background: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#background {
  width: 70vmin;
  height: 70vmin;
  background: #422C2C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#spookster {
    position: relative;
    border: 0.5vmin solid black;
    width: 30vmin; 
    height: 30vmin;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 0;
    box-sizing: border-box;
    background: #E8E8E8
}

#feets {
    display: flex;
    width: 30vmin;
}
#feet {
    width: 7.5vmin;
    height: 6vmin;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 0;
    background: #E8E8E8
}
#peepers {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    background: #000;
    border-radius: 50%;
    top: 13vmin;
    left: 5vmin;
    box-shadow: 14vmin 0;
}

#peepers:before{
  content: "";
  position: absolute;
  background: white;
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 50%;
  left: 2min;
  box-shadow: 14vmin 0 white;
}

#snoot {
  position: absolute;
  width: 4vmin;
  height: 2vmin;
  border: 0.5vmin solid black;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  border-top: 0;
  top: 16vmin;
  left: 12vmin;
}

#left-waggler, #right-waggler {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  top: 22vmin;
  border: 0.5vmin solid black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 0;
}

#left-waggler {
  left: 6vmin;
  transform: rotate(-45deg)
}
#right-waggler{
  left: 18vmin;
  transform: rotate(45deg)
}